import { Liste[classNameMaj]Component } from './crud/[classNameMin]/liste-[classNameMin]/liste-[classNameMin].component';
import { Modifier[classNameMaj]Component } from './crud/[classNameMin]/modifier-[classNameMin]/modifier-[classNameMin].component';